form, div, button, input{
    box-shadow: 2.5px 2.5px #00000077;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
